.bgimg{
    /* background-image: url(../assets/2_coders.jpg) !important ; */
    /* background: linear-gradient(to right, #009fff, #ec2f4b);  */
/* background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);  */
background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
/* background: linear-gradient(165deg, #dcffc3, #7cebf1); */

    background-size: 100% 100%;
    background-attachment: fixed;
    height: 700px;
    width: 100%;
    z-index: 1;
}
.bgbutt-hov{
    display: inline-block;
    position: relative;
    
}
.bgbutt-hov:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
    z-index: 2;
  }
  
  .bgbutt-hov:hover:after {
    transform: scaleX(1);
    z-index: 2;
    transform-origin: bottom left;
  }

.headerset{
    padding: 230px;
    box-sizing: border-box;
}
.headerset  h2{
    font-size: 25px;
}
.headerset  h3{
    font-size: 32px;
    font-weight: bold;
}

/* ...........our services............... */
.ourservices{
    padding: 65px 0px 60px;
    height: 700px;
}

.ourservices h1{
    font-size: 50px;
    font-weight: bold;
}

.rowsetting{
    margin: 60px 0px !important;
}
.rowsetting p{
    color: #6c757d !important;
    padding: 10px;
}
.rowsetting h2{
    margin-top: 20px;
    font-weight: 500;
    font-size: 29px;
}


.imgsetting{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    text-align: center;
    background-color: rgb(101, 231, 101);
}

.fa-shopping-cart , .fa-desktop , .fa-microchip{
    margin-top: 45px;
}


/* ................projects............ */
.projects{
    height: 1100px;
    width: 100%;
    padding: 48px 0px 50px;
}

.projects h1{
    font-size: 50px;
    font-weight: bold;
}

.card{
    margin-top: 35px;
}


/* ............our team.......... */
.ourteam{
    height: 600px;
    width: 100%;
    padding: 50px 0px 0px;  
}

.ourteam h1{
    font-size: 50px;
    font-weight: bold;
}

.ourteam img{
    height: 250px;
    width: 250px;
}

.teamsetting{
    margin-top: 80px !important;
}


/* .............responsive........ */

@media(min-width:992px){
    .bgimg{
        height: 730px;
    }

    /* ......header........ */
    .headerset{
        padding: 100px;
        padding-top: 280px;
    }
    .headerset  h2{
        font-size: 17px;
    }
    .headerset  h3{
        font-size: 25px;
        font-weight: 900;
    } 

    /* ......ourService...... */
    .ourservices{
        padding: 65px 0px 60px;
        height: 600px;
    }

    /* ......projects.......... */
    .projects{
        height: 1150px;
        width: 100%;
        padding: 48px 0px 200px;
    }

    /* ........ourteam........ */
    .ourteam{
        height: 600px;
        width: 100%;
        padding: 50px 0px 0px;  
    }
}
@media(min-width:768px) and (max-width:991px){


    .bgimg{
        height: 730px;
    }

    /* ......header........ */
    .headerset{
        padding: 100px;
        padding-top: 280px;
    }
    .headerset  h2{
        font-size: 17px;
    }
    .headerset  h3{
        font-size: 25px;
        font-weight: 900;
    } 


    /* ......ourService...... */
    .ourservices{
        padding: 65px 0px 60px;
        height: 600px;
    }

    /* ......projects.......... */
    .projects{
        height: 1270px;
        width: 100%;
        padding: 48px 0px 200px;
    }

    /* ........ourteam........ */
    .ourteam{
        height: 600px;
        width: 100%;
        padding: 50px 0px 0px;  
    }
}
@media(min-width:575px) and (max-width:767px){

    .bgimg{
        height: 755px;

    }

    /* ......header........ */
    .headerset{
        padding: 100px;
        padding-top: 280px;
    }
    .headerset  h2{
        font-size: 17px;
    }
    .headerset  h3{
        font-size: 25px;
        font-weight: 900;
    } 


    /* ......ourService...... */
    .ourservices{
        padding: 75px 0px 60px;
        height: 690px;
    }

    /* ......projects.......... */
    .projects{
        height: 2800px;
        width: 100%;
        padding: 48px 0px 200px;
    }

    /* ........ourteam........ */
    .ourteam{
        height: 1550px;
        width: 100%;
        padding: 50px 0px 0px;   
    }
}
@media(min-width:480px) and (max-width:574px){
    .bgimg{
    height: 770px;
}
    
    /* ......header........ */
    .headerset{
        padding: 100px;
        padding-top: 280px;
    }
    .headerset  h2{
        font-size: 17px;
    }
    .headerset  h3{
        font-size: 25px;
        font-weight: 900;
    } 


    /* ......ourService...... */
    .ourservices{
        padding: 80px 0px 20px;
        height: 1200px;
    }
    .ourservices p{
        padding: 5px 20px 0px;
    }

    /* ......projects.......... */
    .projects{
        height: 2920px;
        width: 100%;
        padding: 48px 0px 200px;
    }

    /* ........ourteam........ */
    .ourteam{
        height: 1560px;
        width: 100%;
        padding: 50px 0px 0px;   
    }
 
}
@media(max-width:376) and (max-width:479px){
    .bgimg{
        height: 790px;

    }

    /* ......header........ */
    .headerset{
        padding: 100px;
        padding-top: 280px;
    }
    .headerset  h2{
        font-size: 17px;
    }
    .headerset  h3{
        font-size: 25px;
        font-weight: 900;
    } 


    /* ......ourService...... */
    .ourservices{
        padding: 65px 0px 60px;
        height: 1260px;
    }
    .ourservices p{
        padding: 5px 20px 0px;
    }

    /* ......projects.......... */
    .projects{
        height: 2900px;
        width: 100%;
        padding: 48px 0px 200px;
    }

    /* ........ourteam........ */
    .ourteam{
        height: 1650px;
        width: 100%;
        padding: 50px 0px 0px;   
    }
       
}



/* .....................ANDROID............. */
@media(max-width:360px){
    .bgimg{
        height: 790px;
    }

    /* ......header........ */
    .headerset{
        padding: 100px;
        padding-top: 280px;
    }
    .headerset  h2{
        font-size: 14px;
    }
    .headerset  h3{
        font-size: 22px;
        font-weight: 900;
    } 


    /* ......ourService...... */
    .ourservices{
        padding: 65px 0px 60px;
        height: 1400px;
    }
    .ourservices p{
        padding: 5px 20px 0px;
    }
    

    /* ......projects.......... */
    .projects{
        height: 3100px;
        width: 100%;
        padding: 48px 0px 200px;
    }

    /* ........ourteam........ */
    .ourteam{
        height: 1600px;
        width: 100%;
        padding: 50px 0px 0px;   
    }
       
}


